.header {
  position: fixed;
  width: 100%;
  padding: 50px 0;
  z-index: 100;
  /* background: black; */
}

.header-group {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-items: center;
}

.header a {
  color: white;
  font-weight: 700;
}

.header button {
  padding: 8px 20px;
  color: white;
  background-color: #56ccf7;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: 1s;
}

.header button:hover {
  background: white;
  color: black;
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.25);
  transform: translateY(-3px);
}

@media (max-width: 640px) {
	.Header {
		padding: 15px 0;
	}

	.HeaderGroup {
		grid-template-columns: repeat(4, auto);
	}

	.Header a:nth-child(4) {
		display: none;
	}
}